<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="ewellix_liftkit_ros2_control" params="
    name
    tf_prefix
    use_fake_hardware:=false
    com_port:=/dev/ttyUSB0
    height_limit:=0.7
    use_gazebo:=false">

    <xacro:unless value="${use_fake_hardware}">
      <ros2_control name="${name}" type="actuator">
        <hardware>
            <plugin>liftkit_hardware_interface/LiftkitHardwareInterface</plugin>
            <param name="lift_name">liftkit</param>
            <param name="com_port">${com_port}</param>
            <param name="height_limit">${height_limit}</param>
        </hardware>

        <joint name="${tf_prefix}ewellix_lift_lower_to_higher">
          <command_interface name="position"/>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="robot_ready"/>
        </joint>
      </ros2_control>
    </xacro:unless>

    <xacro:if value="${use_fake_hardware}">
      <ros2_control name="${name}" type="system">
        <hardware>
            <plugin>mock_components/GenericSystem</plugin>
        </hardware>
        <joint name="${tf_prefix}ewellix_lift_lower_to_higher">
          <command_interface name="position">
            <param name="min">0</param>
            <param name="height_limit">${height_limit}</param>
          </command_interface>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="robot_ready"/>
        </joint>
      </ros2_control>
    </xacro:if>

    <!-- FOR LAUNCHING GAZEBO -->
    <xacro:if value="${use_gazebo}">
      <ros2_control name="${name}" type="system">
          <hardware>
              <plugin>ign_ros2_control/IgnitionSystem</plugin>
          </hardware>
          <joint name="${tf_prefix}ewellix_lift_lower_to_higher">
            <command_interface name="position"/>
            <state_interface name="position">
              <param name="initial_value">${height_limit}</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
          </joint>
          <joint name="${tf_prefix}middle_mimic_higher">
          <command_interface name="position">
            <state_interface name="position">
              <param name="initial_value">${middle_upper_limit}</param>
            </state_interface>
            </command_interface>
            <param name="mimic">${tf_prefix}ewellix_lift_lower_to_higher</param>
            <param name="multiplier">0.5</param>
          </joint>
      </ros2_control>

    </xacro:if>

  </xacro:macro>
</robot>
