<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">
   <!-- robot name parameter -->
  <xacro:arg name="name" default="ewellix_liftkit"/>
  <xacro:arg name="tf_prefix" default="" />
  <xacro:arg name="parent" default="" />
  <xacro:arg name="height_limit" default="0.7" />
  <xacro:arg name="omit_plates" default="false" />
  <xacro:arg name="use_fake_hardware" default="false" />
  <xacro:arg name="com_port" default="/dev/ttyUSB0" />
  <xacro:arg name="x_offset" default="0.5" />

  <link name="world"/>

  <xacro:include filename="$(find ewellix_liftkit_description)/urdf/ewellix_lift.xacro"/>
  <xacro:include filename="$(find ewellix_liftkit_description)/urdf/properties.xacro"/>
  
  <xacro:ewellix_lift
    name="$(arg name)"
    tf_prefix="$(arg tf_prefix)"
    parent="world"
    height_limit="$(arg height_limit)"
    omit_plates="false"
    use_fake_hardware="$(arg use_fake_hardware)"
    com_port="$(arg com_port)"
  >
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:ewellix_lift>

  <xacro:ewellix_lift
    name="$(arg name)_2"
    tf_prefix="2_"
    parent="world"
    height_limit="$(arg height_limit)"
    omit_plates="false"
    use_fake_hardware="$(arg use_fake_hardware)"
    com_port="$(arg com_port)"
  >
    <origin xyz="$(arg x_offset) 0 0" rpy="0 0 0"/> 
  </xacro:ewellix_lift>

</robot>
