<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:include filename="$(find rail_e)/description/simple_rail.xacro" />
    <xacro:include filename="$(find rail_e)/description/ros2_control.xacro" />

    <xacro:arg name="ip_addr" default="192.168.7.2" />
    <xacro:arg name="port" default="8000" />
    <xacro:rail_e_ros2_control
        name="RealRobot"
        ip_addr="$(arg ip_addr)"
        port="$(arg port)"
      />
      

</robot>